*{
	margin: 0;
	padding: 0;
	font-family: papyrus, EB Garamond;
	box-sizing: border-box;
}

.header {
    display: flex;
    height: 25px;
    background-color: powderblue;
    border: 3px solid white;
    border-radius: 7px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav h1 {
    padding-left: 10px;
    padding-top: 3px;
    width: 78px;
    font-family: papyrus;
    color: black;
    background-color: #FDFBD4;
    border: 3px solid white;
    border-radius: 7px;
    margin-left: 15px;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    padding: 1px 16px;
    background-color: #FDFBD4;
    border: 3px solid white;
    border-radius: 7px;
    text-decoration: none;
    color: black;
    font-family: EB Garamond;
    text-shadow: 3px 3px 7px black;
}

nav ul li a:hover {
    background-color: #cccccc;
    color: white;
}

.sidebar {
    height: 400%;
    width: 175px;
    position: fixed;
    background-color: powderblue;
    border: 3px solid white;
    border-radius: 7px;
    z-index: -1;
}

.sidebar ul {
    list-style: none;
    text-align: center;
}

.sidebar ul li {
    margin: 30px;
}

.sidebar ul li a{
    padding: 1px 16px;
    background-color: #FDFBD4;
    border: 3px solid white;
    border-radius: 7px;
    text-decoration: none;
    font-family: EB Garamond;
    color:black;
    text-shadow: 3px 3px 7px black;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #cccccc;
    color: white;
}